[submodule "submodules/lapack"]
	path = submodules/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
[submodule "submodules/bat"]
	path = submodules/bat
	url = https://github.com/JeffIrwin/bat
[submodule "submodules/colormapper"]
	path = submodules/colormapper
	url = https://github.com/JeffIrwin/colormapper
